<h1>New Bookmark</h1>

<form action="/create_bookmark" id="create_bookmark">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="url">url</label><br />
    <input id="url" name="url" type="text" />
  </div>
  <div>
    <label for="desc">desc</label><br />
    <input id="desc" name="desc" type="text" />
  </div>
  <div>
    
    <label for="user_id">user</label><br />
    <select name="user_name" form="create_bookmark">
      <% @users.each do |user| %>
        <option value="<%= user.name %>" name="user_name"><%= user.name %></option>
      <% end %>
  </select>

  </div>
  <div>
    <input type="submit">
  </div>
</form>



